beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
configparser==3.5.0
cycler==0.10.0
gevent==1.2.2
greenlet==0.4.13
idna==2.6
inflect==0.2.5
irc==16.2
jaraco.classes==1.4.3
jaraco.collections==1.5.2
jaraco.functools==1.17
jaraco.itertools==2.1
jaraco.logging==1.5.1
jaraco.stream==1.1.2
jaraco.text==1.9.2
konfig==1.1
loads==0.3
matplotlib==2.1.1
more-itertools==4.1.0
numpy==1.14.0
pkg-resources==0.0.0
psutil==5.4.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pyzmq==17.0.0
requests==2.20.0
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
tempora==1.10
ujson==1.35
urllib3==1.24.2
waitress==1.1.0
WebOb==1.7.4
WebTest==2.0.29
ws4py==0.4.3
WSGIProxy2==0.4.4
